.nav {
    padding: 0 30px;
}
.feature-opts {
    padding: 10px 0;
}
.carr {
    padding: 0 30px;
    opacity: 70%;
}
.abt {
    opacity: 70%;
    padding: 0 30px;
}
.carr:hover {
    opacity: 100%;
}
.abt:hover {
    opacity: 100%;
}
.login {
    padding: 0px 30px;
   position: absolute;
   top: 30%;
   left: 80%;
}

.btn-register {
    padding: 5px 20px;
   
   position: absolute;
   top: 20%;
   left: 85%;
   background-color: #fafafa;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: thin;
    color: black;
    text-decoration: none;
}
.btn-register:hover {
    padding: 5px 20px;
   
   position: absolute;
   top: 20%;
   left: 85%;
   background-color: #fafafa;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: thin;
    color: black;
    text-decoration: none;
    opacity: 50%;
}