body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    padding: 15px;
}

.navbar-brand:hover {
    cursor: pointer;
}

.nav-link:hover {
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}

.heading {
    font-size: 4rem;
}