@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
    background-color: #fafafa;
}

.hero-desktop {
    position: absolute;
    right: 20%;
    bottom: 10%;
}
.headink {
    position: absolute;
    font-family: "Epilogue";
    font-size: 60px;
    top: 20%;
    left: 10%;
}
.desc {
    position: absolute;
    font-family: "Epilogue";
    font-size: 20px;
    opacity: 60%;
    top: 50%;
    left: 10%;
}
.btn-learnmore {
    position: absolute;
    font-size: 15px;
    padding: 6px 18px;
    color: black;
    font-weight: bold;
    top: 70%;
    left: 10%;
    background-color: #fafafa;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: thin;
    text-decoration: none;
}
.btn-learnmore:hover {
    position: absolute;
    font-size: 15px;
    padding: 6px 18px;
    opacity: 80%;
    color: black;
    font-weight: bold;
    top: 70%;
    left: 10%;
    background-color: #fafafa;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: thin;
    text-decoration: none;
}